{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/changelog",
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "chore", "release": "patch" },
          { "type": "ci", "release": "patch" },
          { "type": "improvement", "release": "minor" },
          { "type": "perf", "release": "patch" },
          { "type": "refactor", "release": "patch" },
          { "type": "revert", "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/git"
  ]
}
