:root {
  --lighter-grey: #f7f7f7;
  --light-grey: #eaeaea;
  --grey: #6f6f6f;
  --button-secondary: #e1e1e1;
  --button-secondary-hover: #e1e1e1;
  --button-primary: #ffc800;
  --button-primary-hover: #f0bc00;
}

@font-face {
  font-family: Output Sans;
  src: url("../fonts/Output Sans Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Output Sans;
  src: url("../fonts/Output Sans.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
}

header {
  height: 48px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  padding: 16px;
  align-items: center;
  box-sizing: border-box;
}

* {
  font-family: "Output Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

b,
strong {
  color: black;
  font-weight: 700;
}

a:visited,
a:link {
  color: var(--grey);
}

.container {
  padding: 1rem;
  width: 22.5rem;
  max-height: 600px;
}

.input-wrapper {
  display: flex;
  align-content: center;
  margin-bottom: 0.5rem;
}

input[type="radio"] {
  margin: 0;
  accent-color: black;
  margin-right: 0.5rem;
}

input[type="text"] {
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  background: var(--lighter-grey);
  padding: 0.5rem;
  width: 80%;
  -webkit-transition: 0.5s;
  transition: 300ms;
}

input[type="text"]:focus {
  border: 1px solid var(--grey);
  outline: none;
}

input[type="text"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.skeleton {
  border-radius: 4px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--lighter-grey);
  }
  100% {
    background-color: #c7c7c7;
  }
}
