name: Release

on:
  push:
    branches:
      - main

jobs:
  audit:
    name: Audit dependencies
    runs-on: rows-fe-default
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node

      - name: Audit dependencies
        run: npm audit --production --audit-level=high

  static-analysis:
    name: Static analysis
    runs-on: rows-fe-default
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-node

      - uses: ./.github/actions/install-dependencies
        with:
          node-auth-token: ${{ secrets.NODE_AUTH_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Linting JS/TS
        run: npm run lint

      - name: Type checking
        run: npm run check-types

  create-release:
    name: Create Release
    needs: [static-analysis, audit]
    runs-on: rows-fe-default
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # Default GITHUB_TOKEN has no permissions to push to locked branches, so we don't
          # persist credentials and use the NODE_AUTH_TOKEN personal access token instead
          persist-credentials: false

      - uses: ./.github/actions/setup-node

      - uses: ./.github/actions/install-dependencies
        with:
          node-auth-token: ${{ secrets.NODE_AUTH_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      # Semantic release
      - name: Semantic Release
        id: semantic_release_step
        uses: cycjimmy/semantic-release-action@v3
        with:
          semantic_version: 19
          extra_plugins: |
            @semantic-release/commit-analyzer
            @semantic-release/npm
            @semantic-release/git
          working_directory: .
          branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}


      - name: Build Chrome extension artifact
        if: steps.semantic_release_step.outputs.new_release_published == 'true'
        run: |
          npm run build
          cd dist
          zip -r ../chrome-extension-${{ github.sha }}.zip *

      - name: Archive chrome-extension artifact
        uses: actions/upload-artifact@v2
        with:
          name: chrome-extension-${{ github.sha }}
          path: chrome-extension-${{ github.sha }}.zip
